body {
    background-image: url("milkyway.jpg");
    background-repeat: repeat;
    background-size: 100%;
    color: blue;
}

.row {
    margin: 1em;
    text-align: center;
}

.textcontainer {
    text-align: center;
}

#instructions.row {
    text-align: center;
}

.container {
    z-index: 2;
    align-content: center;
    background-color: gray;
}

#result {
    font-weight: bold;
    color: red;
    font-size: 30px;
}